.bookmark {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 8px;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #c9cfdd;
    }

    &:last-child {
        &::after {
            display: none;
        }
    }

    &__title {
        flex: 0 0 auto;
        margin-right: .5em;
    }
    
    &__link {
        margin-right: auto;
        cursor: pointer;
    
        &:hover {
            .bookmark__link-text {
                border-bottom-color: transparent;
            }
        }
    
        &-text {
            word-break: break-all;
            font-size: .75rem;
            font-style: italic;
            color: #7F92B0;
            border-bottom: 1px solid rgba(127, 146, 176, .75);
            transition: .1s ease border-color;
        }
    }

    .delete-btn {
        flex: 0 1 auto;
        margin-left: .75rem;
    }
}