.bookmark {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 8px;
    background-color: #fff;
    border-radius: .25rem;
    cursor: pointer;
    transition: .25s ease-in-out background-color;

    &:hover {
        background-color: #eee;
    }

    &__title {
        flex: 0 0 auto;
        margin-right: .5em;
    }

    &__link {
        margin-right: auto;
        cursor: pointer;

        &:hover {
            .bookmark__link-text {
                border-bottom-color: transparent;
            }
        }
        &-text {
            word-break: break-all;
            font-size: .75rem;
            font-style: italic;
            color: #7F92B0;
            border-bottom: 1px solid rgba(127, 146, 176, .75);
            transition: .1s ease border-color;
        }
    }
}
