.delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: transparent;
    border: none;
    fill: #eee;
    transition: .1s ease fill;
    cursor: pointer;

    &:hover {
        fill: #e77c58;
    }

    &__icon {
        width: 1rem;
        height: 1.4rem;
        z-index: 10;
    }
}