name: Build and deploy

on: push
#   push: [master]

jobs:
  build:
    name: Build and push
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: eugeneyak/bfl:latest

  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - uses: muinmomin/webhook-action@v1.0.0
        with:
          url: ${{ secrets.DEPLOY_WEBHOOK }}
          data: "{'command': 'publish'}"
